<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProntoDB" connectionString="Server=WIN-6EU8FCKRSSK;Initial Catalog=testdb;User Id=tsauser;Password=hello123;Connection Timeout=0" />
		<!--<add name="ProntoDB" connectionString="Server=TILANKAK-SRI;Initial Catalog=ProntoDB1;User Id=sa;Password=tdkprpkcf;" />-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CSVFilePath" value="C:\Pronto\Project\P r o n t o\bin\Debug\Data"/>
	  <add key="ExcelFile" value="C:\Pronto\Project\P r o n t o\bin\Debug\Data\Data.xlsx"/>
	  <add key="PDFPath" value="\\Win-6eu8fckrssk\q\RoutePDF"/>
  </appSettings>
</configuration>